.mainContainer{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.mainContainer > div{
    box-shadow: 0px 0px 4px 2px grey;
}

.heading{
    width: 75%;
    height:10%;
    background-color: rgb(216, 216, 228);
    text-align: center;
}